html, body {
  height: 100%;
}
body {
  background: #e4e4e4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.footer {
  background: #3f51b5;
  display: block;
  width: 100%;
}
#root {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
